// Colors
$primary-color: #007bff;
$secondary-color: #6c757d;
$light-bg-color: #ffffff;

// Text Colors
$text-color: #ffffff;

// Font Sizes
$font-size-small: 1rem;
$font-size-medium: 1.125rem;
$font-size-large: 1.5rem;
$font-size-hero: 2rem;


// Heights
$header-height-tablet: 3rem;
$header-height: 3.6rem;

// Spacing
$space-xsmall: 0.5rem;
$space-small: 1rem;
$space-medium: 1.5rem;
$space-large: 2rem;
$space-xlarge: 3rem;

// Gap
$gap-xsmall: 0.5rem;
$gap-small: 1rem;
$gap-smedium: 1.25rem;
$gap-medium: 2rem;
$gap-large: 3rem;

// Border Radius
$border-radius-small: 0.625rem;  
$border-radius-medium: 1.25rem;    

// Glass Effect Variables
$glass-bg: rgba(0, 0, 0, 0.40);
$glass-bg-dark: rgba(0, 0, 0, 0.9);
$glass-blur: 0.625rem;
$glass-border: 1px solid rgba(255, 255, 255, 0.15);

// Glass Effect Mixin
@mixin glass {
  background: $glass-bg;
  backdrop-filter: blur($glass-blur);
  border-radius: $border-radius-medium;
  border: $glass-border;
}