@use '../base/variables';

.pageWrapper {
  width: 90%;
  margin: 0 auto;
}

.hamburger {
  display: flex;
  flex-direction: column;
  gap: 4px;
  position: relative;
  z-index: 11;

  span {
    width: 24px;
    height: 3px;
    background: variables.$light-bg-color;
    transition: 0.3s ease;
  }

  &.open {
    
    span:nth-child(1) {
      transform: rotate(45deg) translateY(10px);
    }

    span:nth-child(2) {
      opacity: 0;
    }

    span:nth-child(3) {
      transform: rotate(-45deg) translateY(-10px);
    }
  }
}

